/* Styles de l'entête (header) */

.jumbotron {
	text-align: center;
	color: rgb(66, 139, 202);
	margin-bottom: 20px;
	padding-bottom: 3px;
	background-color:rgba(0,0,0,0.6);
	width: 100%;
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.9);
	-o-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.9);
}

.jumbotron a:hover {
	color: rgb(42, 100, 150);
	text-decoration: none;
}

.jumbotron h1{
	color: white;
	font-size: 2em;
}

.navbar {
	background-image: url(../img/navy_blue.png);
	background-repeat:repeat;
}

.navbar-brand a {
	color: rgb(153, 153, 153);
}

.navbar-brand a:hover {
	color: white;
	text-decoration: none;
}


/* Styles du pied (footer) */

#footer {
	background-color: black;
	background-image: url(../img/navy_blue.png);
	background-repeat:repeat;
	text-align: center;
	color: rgb(153, 153, 153);
	margin-top: 50px;
	margin-bottom: -100px;
}


/* Styles du corps, communs à toutes les pages */

.container {
	background: transparent;
}

#corps {
	background-color: #222222;
	background-image:url(../img/dark_gray.jpg);
	background-repeat:repeat;
	overflow-x : hidden;
}
	

.jul-boite-article {
	background-color: white;
	background-image: url(../img/white_wall.png);
        padding-bottom: 10px;
	margin: 5px;
   	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.jul-boite-article img {
	display: block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	max-width: 75%;
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: 5px 5px 5px #656565;
	-webkit-box-shadow: 10px 10px 5px #656565;
	-o-box-shadow: 10px 10px 5px #656565;
	box-shadow: 5px 5px 5px #656565;
}

.jul-boite-article a {
	font-weight: bold;
}

.jul-boite-article h2 a {
	font-size: 20px;	
	font-weight: bold;
	color: #222222;
	line-height: 0.7em;
}

.jul-boite-article hr {
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: black;
}

.jul-partage {
	float: left;
}

.jul-partage img, .jul-com img {
	display: inline;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
	margin-right: 10px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.jul-com {
	float:right;
}

.label a {
	color: white;
}

@media (min-width: 992px) {
//	#jul-article {
//		width: 33%;
//		margin: auto;
//	}

	.jul-boite-article {
		width: 32.4%;
	}
}

@media (max-width: 992px) {
	.jul-boite-article img {
		max-height: 100px;
	}
}


#jul-billets {
	background-color: #919191;
	background: transparent;
}

#pagination {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.p_page, .p_prev, .p_next, .p_first, .p_last {
	color: white;
	border: 1px solid white;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom; 3px;
	padding: 7px;
}

.p_current {
	color: white;
	background-color: #919191;
	border: 1px solid #919191;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom; 3px;
	padding: 7px;
}

.p_page a, .p_prev a, .p_next a, .p_first a, .p_last a {
	color: white;
}


#jul-article .jul-boite-article {
	margin:auto;
}

#jul-article img {
	max-height: 150px;
}

#form {
	margin-top: 40px;
}
